.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  /* cursor: pointer; */
}

.carousel-image {
  max-width: 100%;
  display: none; /* Hide images */
}

.carousel-image.active {
  display: block; /* Only show the active image */
}
